<div class="col-xs-12" *ngIf="faction === '' ">
	<div class="overlay"> </div>
	<div class="overlayInformationContainer">
		<div class="beginScreen">
			{{overlayText}}
		</div>
	</div>
</div>
<!-- load other components here -->
<div *ngIf="faction !== '' ">
	<vote-panel> </vote-panel>
</div>

<div class="col-xs-4 col-xs-offset-8 playerInformation" *ngIf="faction !== '' ">
	<h3 class="col-xs-12"> {{playerName}}</h3>
	<div class="col-xs-12 "> Faction: <span *ngIf="displayFaction">{{faction}} </span> </div>
	<div class="col-xs-12 "> Secret Role: <span *ngIf="displaySecretRole"> {{secretRole}} </span> </div>
	
	<div class="buttons">
		<button class="btn btn-default" (click)="toggleFaction()"> {{factionBtnText}}</button>
		<button class="btn btn-default" (click)="toggleSecretRole()"> {{secretRoleBtnText}} </button>
	</div>
</div>

