.background{
	background-color: #FEFEFE;
}

.playerInformation
{
	background: #CD9B9B;
	height: 100%;
	min-height: 100%;
	color: #FEFEFE;
	font-size: 25px;
	display: block;
}

.buttons
{
	position: absolute;
	bottom: 0;

}

.overlay
{
	position:fixed;
	top:0;
	left:0;
	z-index: 10;
	min-height:100%;
	min-width: 100%;
	background-color: rgba(0,0,0,.75);
	margin: auto;
	padding: auto;

}

.overlayInformationContainer
{
	position:fixed;
	z-index:11;
	display: flex;
	height:100%;
	width:100%;
}


.beginScreen
{
	color:white;
	font-size: 35pt;
	margin:auto;
	padding: auto;
}
