.policyTrackerContainer
{
	margin-top:10px;
}

.policyCard
{
	border: solid black 1px;
	background-color: white;
	height: 100px;	
	font-size: 7pt;
}
.facPolicy
{
	border: solid red 1px;
}
.libPolicy
{
	border: solid blue 1px;
}

.activeLib
{
	background-color: blue;
}

.activeFac
{
	background-color: red;
}