<div class="col-xs-12" *ngIf="connectedPlayers !== totalPlayers">
	<div class="overlay"> </div>

	<div class="overlayInformationContainer">
		<div class="beginScreen">
			<div class="col-xs-12"> Game Code: {{ gameCode }} </div>
			<div class="col-xs-12"> Waiting for Players {{connectedPlayers}} / {{totalPlayers}} </div>
		</div>
	</div>
</div> 

<div class="col-xs-12 gameContainer" *ngIf="connectedPlayers === totalPlayers">

	<player-tracker> </player-tracker>
	<information-panel> </information-panel>
	<election-tracker> </election-tracker>
	<policy-tracker [players]="totalPlayers"> </policy-tracker>
	<vote-result-panel> </vote-result-panel>
	<!-- load all board components here -->
</div>