<div class="col-xs-12 policyTrackerContainer">
	<div class="col-xs-6"> 
		<div class="col-xs-2 policyCard libPolicy" [ngClass]="{activeLib: libPolicyCount > 0}"> Liberal Policy</div>
		<div class="col-xs-2 policyCard libPolicy" [ngClass]="{activeLib: libPolicyCount > 1}"> Liberal Policy</div>
		<div class="col-xs-2 policyCard libPolicy" [ngClass]="{activeLib: libPolicyCount > 2}"> Liberal Policy</div>
		<div class="col-xs-2 policyCard libPolicy" [ngClass]="{activeLib: libPolicyCount > 3}"> Liberal Policy</div>
		<div class="col-xs-2 policyCard libPolicy" [ngClass]="{activeLib: libPolicyCount > 4}"> Liberal's Win</div>

	</div>
	<div class="col-xs-6"> 
		<div class="col-xs-2 policyCard facPolicy" [ngClass]= "{activeFac: facPolicyCount > 0}"> {{fascistText[0]}} </div>
		<div class="col-xs-2 policyCard facPolicy" [ngClass]= "{activeFac: facPolicyCount > 1}"> {{fascistText[1]}} </div>
		<div class="col-xs-2 policyCard facPolicy" [ngClass]= "{activeFac: facPolicyCount > 2}"> {{fascistText[2]}} </div>
		<div class="col-xs-2 policyCard facPolicy" [ngClass]= "{activeFac: facPolicyCount > 3}"> {{fascistText[3]}} </div>
		<div class="col-xs-2 policyCard facPolicy" [ngClass]= "{activeFac: facPolicyCount > 4}"> {{fascistText[4]}} </div>
		<div class="col-xs-2 policyCard facPolicy" [ngClass]= "{activeFac: facPolicyCount > 4}"> {{fascistText[5]}} </div>

	</div>
</div>